.page {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
}

.main__wrapper {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  padding: var(--vertical-main-padding) var(--horizontal-main-padding);
}

.page-fade {
  &-enter {
    opacity: 0;
  }
  
  &-enter-active {
    opacity: 1;
    transition: opacity 300ms;
  }
  
  &-exit {
    opacity: 1;
  }
  
  &-exit-active {
    opacity: 0;
  }
}

@media(max-width: 1110px) {
  .page {
    --vertical-main-padding: 4rem;
    --horizontal-main-padding: 3rem;
  }
}