:root {
  // colors
  --light: rgb(255, 255, 255);
  --dark: rgb(0, 0, 0);
  --purple: rgb(113, 79, 170);
  --gray: rgb(245, 245, 245);

  // gutters
  --horizontal-padding: 2rem;

  // additional
  --transition: .3s ease-in-out;
}