:root {
  // sizes
  --header-height: 7.2rem;
  --footer-height: 5.2rem;

  // colors
  --light: rgb(255, 255, 255);
  --dark: rgb(0, 0, 0);
  --purple: rgb(113, 79, 170);
  --gray: rgb(245, 245, 245);
  --background: rgb(44, 42, 42);

  // gutters
  --horizontal-padding: 2rem;
  --horizontal-main-padding: 6rem;
  --vertical-main-padding: 6rem;

  // additional
  --letter-spacing: .06em;
  --transition: .3s ease-in-out;
}

@media(max-width: 480px) {
  :root {
    --header-height: 4.8rem;
  }
}